<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <div class="navbar">
        <div class="title">
            Talitha's Food Barn
        </div>
    </div>
    <div class="main">
        <div class="sign-in-container">
            <div class="sign-in">
                <div class="sign-in-title">Sign up or log in</div>
                <!--  PASTE BUTTON HERE -->    
      
                <!--  END OF BUTTON HERE -->
                <button type="button" class="btn btn-signin">Sign in</button>
                <p>By continuing, you agree to our Terms and Conditions</p>
            </div>
        </div>
        <img id="background-img" src="/static/background.png">
    </div>
</body>

</html>