.navbar {
  padding: 10px 20px;
  box-shadow: 0 4px 4px 0 rgba(204, 204, 204, 0.25);
  background-color: #ffffff;
}

.title {
  font-size: 30px;
  color: #00b0ad;
  margin: 10px;
}

#background-img {
  width: 792px;
  height: 787px;
  object-fit: contain;
  right: 0px;
  position: absolute;
  bottom: 10px;
}

.sign-in-title {
  width: 242px;
  height: 41px;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 20px;
}

.sign-in-container {
  width: 396px;
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 99;
}

.container-or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.btn-signin {
  border: solid 1.3px #2d3e6b;
  height: 50px;
  border-radius: 15px;
  background-color: white;
  color: #2d3e6b;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn-digic {
  height: 50px;
  border-radius: 15px;
  background-color: #2d3e6b;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.btn-digic:hover {
  background-color: white;
  color: #2d3e6b;
  border: solid 1.3px #2d3e6b;
}

.info-container {
  width: 656px;
  height: auto;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  padding: 80px;
  margin: auto;
}

.info-title {
  width: 523px;
  height: 41px;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d3e6b;
  text-align: center;
}

.info-details-row {
  padding: 20px 0px;
  display: flex;
}

.info-details-label {
  display: inline-block;
  width: 30%;
  height: 21px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d3e6b;
}
.info-details-value {
  width: 70%;
  height: 21px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d3e6b;
  white-space: pre-wrap;
}

.btn-continue {
  border: solid 1.3px #2d3e6b;
  height: 50px;
  border-radius: 15px;
  background-color: white;
  color: #2d3e6b;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.digic-login-btn {
  border-radius: 15px;
  background-color: #2d3e6b;
  color: white;
  font-size: 18px;
  line-height: 50px;
  border-color: #2d3e6b;
  width: 400px;
}

.digic-login-btn a {
  color: white;
  line-height: 50px;
  padding: 30px 100px;
}
.digic-login-btn a:hover {
  text-decoration: none;
}

.verified {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  height: 1px;
  width: 100%;
  overflow: visible;
  margin-top: 80px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
}
